@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans|IBM+Plex+Sans+Condensed|IBM+Plex+Serif');

* {
  font-family: 'IBM Plex Sans','Helvetica Neue',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .spinner:before, .spinner:after {
    content: "";
    position: relative;
    display: block;
  }
  .spinner:before {
    animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    width: 5em;
    height: 5em;
    background-color: #154dd2;
  }
  .spinner:after {
    animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    bottom: -1.5em;
    height: .3em;
    border-radius: 50%;
    background-color: #0000002e;
  }
  
  @keyframes spinner {
    50% {
      border-radius: 50%;
      transform: scale(0.5) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
  }
  @keyframes shadow {
    50% {
      transform: scale(0.5);
      background-color: rgba(#000,0.1);
    }
  }