.ibm__app-bar {
    display: flex;
    flex-direction: column;
}

.ibm__app-bar-row {
    display: flex;
    padding: 1rem;
    min-height: 40px;
}

.ibm__app-bar-section {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    flex: 0 0 128px;
    align-items: flex-start;
    cursor: pointer;
    transition: all ease 03s;
    justify-content: center;
    text-decoration: none;
}

.ibm__hover-border {
    position: relative;
    z-index: 1;
    height: 4px;
    width: 100%;
    background-color: #154dd2;
    display: flex;
    transform: translate3d(0,20px,0);
    transition: transform .4s cubic-bezier(.4,1,.4,1);
}

.ibm__app-bar-section:hover .ibm__hover-border {
    transform: translate3d(0,16px,0);
    transform-origin: bottom;
}

.ibm__flex-150 {
    flex: 0 0 150px;
}

.ibm__type-header {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
    font-weight: 600;
    color: #575757;
}

.ibm__type-button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
    font-weight: 300;
    color: #4a4a4a;
    text-decoration: none;
}

.ibm__primary-button {
    border: 2px solid #4a4a4a;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.ibm__primary-button:hover {
    background-color: #4a4a4a;
    color: white;
}

.ibm__align-self-right {
    margin-left: auto;
    border-right: none;
    align-items: flex-end;
}

.ibm__ibm-logo-link {
    display: flex;
    width: 70px;
    min-height: 40px;
    background-image: url(https://www.ibm.com/standards/web/images/masthead-ibm-logo-24px-2x.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ibm__ibm-logo-link a {
    visibility: hidden;
}

@media (max-width: 600px) {
    .ibm__app-bar-row {
        flex-direction: column;
    }
    .ibm__flex-150 {
        flex: 0 1 100%;
    }
    .ibm__app-bar-section {
        flex: 0 1 100%;
        padding: 0;
    }
    .ibm__hover-border { 
        display: none;
    }
    .ibm__align-self-right {
        align-items: flex-start;
        margin-left: 0;
        margin-top: 1rem;
    }
    .ibm__banner-text {
        font-size: 0.5rem;
    }
    .ibm__headline-text {
        font-size: 0.5rem;
        line-height: 1rem;
    }
}