.ibm__page-home {
    position: relative;
    z-index: 2;
}

/** TILES **/

.ibm__tile-wrapper {
    display: flex;
}

.ibm__tile {
    display: flex;
    flex: 0 0 42%;
    padding: 4vw;
    background-image: url('../assets/images/ngv-grid-bg-grey-sm.png');
    background-position: center;
    background-size: cover;
    flex-direction: column;
    border: 1px solid #c8c8c8;
}

.ibm__red-marker {
    height: 3px;
    margin-bottom: 1.5vw;
    width: 2vw;
    background-color: #ff5a5a;
}

.ibm__tile-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3vw;
    font-weight: 600;
    color: #4a4a4a;
}

.ibm__tile-image {
    display: flex;
    height: 25vw;
    width: 25vw;
    background-image: url('../assets/images/ngv-future-tools-illustration-01.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 4vw auto;
}

/** BANNER **/

.ibm__home-banner {
    display: flex;
    width: 100%;
    background-image: url('../assets/images/ngv-grid-bg-blue-header-md.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 8vw;
}

.ibm__banner-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 18%;
    padding: 2vw 0;
}

.ibm__banner-title {
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.2rem;
    line-height: 10vw;
    flex: 0 0 50%;
    padding: 3.5vw;
    font-size: 9.5vw;
    color: white;
}

.ibm__banner-text {
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 2.5vw;
    padding-bottom: 1vw;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 3vw;
}

.ibm__banner-headline {
    display: flex;
    padding: 3.5vw;
    border-bottom: 1px solid #c8c8c8;
}

.ibm__headline-text {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace;
    flex: 0 1 70%;
    text-align: justify;
    font-size: 1.5vw;
    line-height: 3vw;
    color: #656565;
}

.ibm__headline-text * {
    font-family: 'IBM Plex Mono', monospace;
    color: #656565;
}