.ibm__page-register {
    display: flex;
    position: relative;
    z-index: 2;
    background: white;
}

.ibm__form-panel {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(50% - 10vw);
    padding: 4vw 5vw;
    background-position: center;
    background-size: contain;
}

.ibm__form-panel-title {
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.5rem;
    line-height: 6vw;
    letter-spacing: 0.5vw;
    padding-bottom: 3.5vw;
    font-size: 4vw;
    color: #4a4a4a;
}

.ibm__form-panel-text {
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    padding: 1.5vw 60% 1vw 0;
    color: #4a4a4a;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 3vw;
}

.ibm__form {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(50% - 18vw);
    padding: 4.5vw 9vw;
    background-color: #034bda;
    align-items: flex-start;
}

.ibm__form-title {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 3vw;
    color: #eff1f2;
}

.ibm__form-description {
    color: #eff1f2;
    padding: 1rem 0;
    font-size: 0.875rem;
    line-height: 1.46429rem;
}

.ibm__form-checkbox {
    margin-top: 1rem;
}

.ibm__form-checkbox span {
    font-family: 'IBM Plex Sans', sans-serif;
}

.ibm__checkbox-text {
    color: #eff1f2;
    font-size: 0.875rem;
    line-height: 1.46429rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.ibm__secondary-button {
    display: flex;
    border: 1px solid #eff1f2;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease;
    color: #eff1f2;
    cursor: pointer;
    background-color: transparent;
    font-size: 0.875rem;
}

.ibm__secondary-button:hover {
    background-color: #eff1f2;
    color: #034bda;
}